.share_button {
    font-size: 0.5rem;
    font-weight: bold;
    line-height: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    /* margin: 0 0 30px; */
    text-align: center;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex: row;
    justify-content: center;
    align-content: flex-start;
    flex-wrap:wrap;
}

.share_button li {
    /* margin: 0 5px; */
    height: auto;
    flex: 0 1 auto;
    width: calc(16.6% - 2px);
    /* margin-right: 2px ; */
}
.share_button li:last-child {
    margin-right: 0 ;
    width: 16.6% ;
}
.share_button svg {
    fill: #fff;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}
.share_button a {
    display: block;
    padding: 8px 8px 8px ;
    text-align: center;
    text-decoration: none !important;
    color: #fff !important;

}
.share_button a:hover {
    opacity: 0.8 ;
}
.share_button li:first-child a {
    border-radius: 0 8px 8px 0;
}
.share_button li:last-child a {
    border-radius: 8px 0 0 8px;
}
.share_facebook {
    background-color: #3b5998 ;
}
.share_twitter {
    background-color: #1da1f2 ;
}
.share_pinterest {
    background-color: #bd081c ;
}
.share_linkedin {
    background-color: #0077b5 ;
}
.share_reddit {
    background-color: #ff4500 ;
}
.share_email {
    background-color: #7f7f7f ;
}
.share_whatsapp {
    background-color: #25d366 ;
}